In [15]:
# variable 
name = "Tahir"
print(name)

Tahir

In [16]:
X = 10 
Y = 20 
Z = X + Y
print(Z)

30

In [17]:
a,b,c = 5,10,15
print(a)
print(b)
print(c)

5
10
15

In [18]:
age = "i am 20 years old"
print(age)

i am 20 years old

In [19]:
city = "karachi"
city = "lahore"
print(city)

lahore

In [20]:
price = 200
discount = 50
final_price = price - discount
print(final_price)

150

In [21]:
num1 = 23
num2 = 23.3
print(num1 + num2)

46.3

In [22]:
PI = 3.14
print(PI)

3.14

In [24]:
a,b = b,a 
print(a)
print(b)

5
10

In [28]:
User_name = str(input("Enter your name: "))
print("Hello " + User_name)

Hello TAHIR

In [30]:
varibale1 = 10
varibale2 = "Hello"
varibale3 = 23.5
print(type(varibale1))
print(type(varibale2))
print(type(varibale3))

<class 'int'>
<class 'str'>
<class 'float'>

In [31]:
fruit = ["Apple", "Banana", "Mango" , "Orange"]
print(fruit)

['Apple', 'Banana', 'Mango', 'Orange']

In [32]:
tuple = (1,2,4, 2,1 )
print(tuple)

(1, 2, 4, 2, 1)

In [33]:
dict = {"name":"Tahir", "age":20, "city":"Karachi"}
print(dict)

{'name': 'Tahir', 'age': 20, 'city': 'Karachi'}

In [36]:
name = "Tahir"
print(len(name))

5

In [38]:
a = "23"
print(a)
print(type(a))

23
<class 'str'>

In [40]:
a = "5"
print(a*10)

5555555555

In [ ]:
a = 10
b = 5 
c = a > b
print(c)

False

In [43]:
x = 15
y = 4
print(x + y )
print(x - y )
print(x * y )
print(x / y )
print(x // y )
print(x ** y)

19
11
60
3.75
3
50625

In [44]:
num1 = int(input("Enter first number: "))
num2 = int(input("Enter second number: "))
sum = num1 * num2
print("The multiplication is:", sum)

The multiplication is: 1845

In [45]:
 a = 10
 b = 20
 c = a == b
 print(c)

False

In [48]:
if 50 > 30:
    print("50 is greater than 30")
else:
    print("30 is greater than 50")

50 is greater than 30

In [49]:
print(10 > 5)
print(5 > 2)

True
True

In [53]:
userinput = int(input("Entre something in numers :"))
print(userinput + 10)

50

In [54]:
userinput = int(input("Entre something in numers :"))
print(userinput - 10)

40